/* Page Elements */

* {
    box-sizing: border-box;
}

html {
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Inter', sans-serif;
    text-align: left;
    color: #1E293B;
}

body {
    max-width: 1200px;
    padding: 0 2rem 0 2rem;
    margin: 0 auto 0 auto;
}

@media (max-width: 720px) {
    body {
        max-width: 100%;
        padding: 0 1rem 0 1rem;
    }
}


/* Header */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: white;
    border: 1px solid lightgray;
    padding: 1rem 0 1rem 0;
}

div.left {
    font-weight: 500;
}

nav.right {
    display: block;
}

@media (max-width: 720px) {
    header {
        padding: 0
    }
    nav.right {
        display: none;
    }
}


/* Elements */

img {
    max-width: 100%;
    height: auto;
}

iframe {
    width: 100%;
}


/* Lists */

nav ul li {
    display: inline;
    margin: 0 0.5rem 0 0.5rem;
}

ul,
ol {
    margin: 2em 0 2em 0;
    padding: 0;
    list-style-position: inside;
    margin-block-start: 0;
    margin-block-end: 0;
}


/* Typography*/

h1 {
    font-size: 5rem;
    line-height: 100%;
}

h2 {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 400;
    width: 65%;
    color: #94A3B8;
}

h3,
h4 {
    font-size: 1.25rem;
    line-height: 1.4;
    font-weight: 400;
    margin: 0 0 0.5rem 0;
}

h4 {
    margin: 0 0 1rem 0;
    color: #94A3B8
}

p {
    font-size: 1rem;
    line-height: 150%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 720px) {
    h1 {
        font-size: 2rem;
        line-height: 100%;
    }
    #hero h2 {
        width: 100%;
    }
}


/* Sections */

section {
    height: 75vh;
    padding: 8rem 0 8rem 0;
}

.left {
    float: left;
    width: 50%;
    padding: 0 1rem 0 1rem;
    text-align: left;
}

.right {
    float: right;
    width: 50%;
    padding: 0 1rem 0 1rem;
    text-align: right;
}

section div.left:after {
    content: "";
    display: table;
    clear: both;
}

section#hero {
    margin-top: 8rem;
}

@media (max-width: 720px) {
    section {
        padding: 4rem 0 4rem 0;
    }
    section div.left {
        width: 100%;
        padding: 0px;
    }
    section div.right {
        width: 100%;
        padding: 0px;
    }
    .left {
        margin: 2rem 0 2rem 0
    }
    .right {
        margin: 2rem 0 2rem 0
    }
}


/* Table */

table {
    width: 100%;
    margin: 1em 0 1em 0;
    border-collapse: collapse;
}

th {
    font-weight: bold;
    padding: 0.5rem 0;
}

td {
    padding: 0.125em 0 0.125em 0;
}

td.stage {
    text-transform: uppercase;
    font-size: 0.9rem;
}

td.status.to-be-completed {
    color: lightgray
}


/* Footer */

footer {
    margin: 2rem auto 2rem auto;
    text-align: center;
}